span {
  display: block;
}

.gray-text {
  color: #6b7280;
}

.head-gray {
  color: #374151;
}

/* Navbar */
#nav-bg {
  width: 100%;
}
#nav {
  width: 1440px;
}

#nav-li {
  color: #4b5563;
}
.yellow-li {
  color: #f97316;
}
.button-bg {
  background-color: #f97316;
}
.blackish {
  color: #1f2937;
}
/* Navbar */

/* Homepage */
#homepage {
  width: 1440px;
}
#homepage h1 {
  color: #111827;
}
/* Homepage */

/* About */
#about-bg {
  width: 100%;
  background-image: url("../assets/bg/about.png");
  background-size: cover;
}
#about {
  width: 1440px;
}
/* About */

/* Blockchain */
#blockchain {
  width: 1440px;
}
#blockchain-bg {
  width: 100%;
  background-color: #fff7ed;
}
/* Blockchain */

/* Payment */
#payments {
  width: 1440px;
}
#payments-bg {
  width: 100%;
  background-color: #eff6ff;
}
/* Payment */

/* Partners */
#partners {
  width: 1440px;
}
#partners-bg {
  width: 100%;
}
/* Partners */

/* Service */
#service-bg {
  width: 100%;
  background-color: #fafafa;
}
#service {
  width: 1440px;
}
#service-table h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
#service-table p {
  font-weight: 500;
  color: #1f2937;
}
/* Service */

/* FAQ */
#faq-bg {
  width: 100%;
}
#faq {
  width: 1440px;
}
.faq-li {
  /* padding: 10px 15px; */
  background-color: #374151;
}
.page-list li {
  padding: 1rem;
  border-top: 2px white solid;
  color: rgb(107, 114, 128);
}

.page-list li:active {
  border-top: 2px black solid;
  color: rgb(55, 65, 81);
}

form {
  padding-top: 3rem;
}
/* FAQ */

/* Contact */
#contact-bg {
  width: 100%;
  background-color: #4b5563;
}
#contact {
  width: 1440px;
}
.contact-label {
  color: #4b5563;
}
/* Contact */

/* Download */
#brochure-bg {
  width: 100%;
  background-image: url("../assets/bg/download.png");
  background-size: contain;
}
#brochure {
  width: 1440px;
}
/* Download */
#content {
  max-width: 100%;
}
/*Conetent*/

/* Footer */
#footer-bg {
  width: 100%;
}
#footer {
  width: 1440px;
}
/* Footer */
