html {
  visibility: hidden;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(17, 24, 39);
}

p {
  color: rgb(107, 114, 128);
  /* white-space: pre-line; */
}

button {
  color: rgb(75, 85, 99);
  font-weight: 500;
}

ul li {
  color: rgb(75, 85, 99);
}

.text-orange {
  color: rgb(249, 115, 22);
}

.infra-section div:nth-of-type(2) p:first-of-type {
  color: rgb(249, 115, 22);
}

.qa-list {
  width: 60%;
}

@media (min-width: 320px) {
  .qa-list {
    width: 100%;
  }
}

.qa-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.qa-list li p {
  font-weight: 600;
  color: black;
}

.qa-list li button {
  color: black;
  font-weight: 600;
}

.page-list li {
  padding: 1rem;
  border-top: 2px white solid;
  color: rgb(107, 114, 128);
}

.page-list li:active {
  border-top: 2px black solid;
  color: rgb(55, 65, 81);
}

button {
  outline: none;
}

form {
  padding-top: 3rem;
}
form label {
  margin: 0.2rem 0;
}

form input {
  width: 100%;
  outline: none;
}
form textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  outline: none;
}

.button-submit {
  background-color: rgb(255, 130, 0);
  color: white;
}

.brochure {
  background-image: url("../assets/bg/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
}

.about {
  background-image: url("../assets/bg/about.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

table thead tr th {
  color: rgb(107, 114, 128);
  font-weight: 500;
}

table tbody tr td {
  color: rgb(156, 163, 175);
}

table thead tr th:last-child {
  padding-right: 0;
}

table tbody tr td:last-child {
  padding-right: 0;
}

.social-logos {
  color: rgb(156, 163, 175);
}

.message-head {
  color: rgb(55, 65, 81);
}

.head-p {
  color: rgb(75, 85, 99);
}

.inn-head {
  color: rgb(31, 41, 55);
}

.questions-table thead tr {
  background-color: #e5e7eb;
}

.checkbox-out {
  height: 2rem;
  width: 4rem;
  background-color: #ddd;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.checkbox-in {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: white;
}

.pressed {
  display: flex;
  background-color: rgb(255, 130, 0);
  justify-content: flex-end;
}

.form-container label {
  color: gray;
}

#facebook:hover {
  color: #3b5998;
}

#instagram:hover {
  color: #3f729b;
}

#twitter:hover {
  color: #00acee;
}

#github:hover {
  color: #171515;
}

#basketball:hover {
  color: #ea4c89;
}

.message {
}

#message {
  float: inline-start;
}

#board thead {
  float: left;
}

#board thead th {
  display: block;
}

#board tbody {
  float: right;
}

#board td {
  padding: 5px 0;
  color: #4b5563;
}
#board {
  color: #4b5563;
}
